@font-face {
  font-family: 'Exo20';
  src: url("../fonts/Exo20-Regular.woff");
  src: local("../fonts/Exo20-Regular"), local("Exo20-Regular"), url("../fonts/Exo20-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Exo20-Bold';
  src: url("../fonts/Exo20-Bold.woff");
  src: local("../fonts/Exo20-Bold"), local("Exo20-Bold"), url("../fonts/Exo20-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Exo20-SemiBold';
  src: url("../fonts/Exo20-SemiBold.woff");
  src: local("../fonts/Exo20-SemiBold"), local("Exo20-SemiBold"), url("../fonts/Exo20-SemiBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/ProximaNova-Regular.woff");
  src: local("../fonts/ProximaNova-Regular"), local("ProximaNova-Regular"), url("../fonts/ProximaNova-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.clock {
  width: 32px;
  height: 32px;
  fill: #fefefe;
}

.hand {
  width: 39px;
  height: 35px;
  fill: #fefefe;
}

.surely {
  width: 39px;
  height: 43px;
  fill: #fefefe;
}

.name {
  width: 16px;
  height: 16px;
  fill: #999999;
}

.phone {
  width: 18px;
  height: 18px;
  fill: #999999;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

*:focus {
  outline: none;
}

input::-ms-clear {
  display: none;
}

a,
button,
input,
input:focus,
input:invalid,
li,
textarea,
textarea:focus,
textarea:invalid {
  border: none;
  text-decoration: none;
  color: inherit;
  outline: none;
  list-style: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
  background: none;
}

a:hover,
button:hover,
input:hover,
input:focus:hover,
input:invalid:hover,
li:hover,
textarea:hover,
textarea:focus:hover,
textarea:invalid:hover {
  text-decoration: none;
  color: inherit;
}

a:focus,
button:focus,
input:focus,
input:focus:focus,
input:invalid:focus,
li:focus,
textarea:focus,
textarea:focus:focus,
textarea:invalid:focus {
  border: none;
  outline: none;
}

a {
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

body,
html {
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  overflow-x: hidden;
  font-family: 'Exo20';
}

main {
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  border: none;
  outline: none;
}

small {
  display: block;
  max-width: 100%;
}

.d-mobile {
  display: none;
}

.d-mobile-none {
  display: block;
}

.modal form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form {
  width: 100%;
}

form span,
form .submit {
  width: 100%;
}

form span input:not(.submit) {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #000000;
  border: 1px solid #c9c9c6;
  background-color: #eef2f5;
  font-family: 'Exo20';
}

form span input:not(.submit)::-webkit-input-placeholder {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  -webkit-transition: all .3s;
  transition: all .3s;
}

form span input:not(.submit)::-moz-placeholder {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  -moz-transition: all .3s;
  transition: all .3s;
}

form span input:not(.submit):-ms-input-placeholder {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  -ms-transition: all .3s;
  transition: all .3s;
}

form span input:not(.submit)::-ms-input-placeholder {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  -ms-transition: all .3s;
  transition: all .3s;
}

form span input:not(.submit)::placeholder {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

form span input:not(.submit):focus,
form span input:not(.submit):hover {
  color: #000000  !important;
}

form span input:not(.submit):focus::-webkit-input-placeholder, form span input:not(.submit):hover::-webkit-input-placeholder {
  color: #000000 !important;
}

form span input:not(.submit):focus::-moz-placeholder, form span input:not(.submit):hover::-moz-placeholder {
  color: #000000 !important;
}

form span input:not(.submit):focus:-ms-input-placeholder, form span input:not(.submit):hover:-ms-input-placeholder {
  color: #000000 !important;
}

form span input:not(.submit):focus::-ms-input-placeholder, form span input:not(.submit):hover::-ms-input-placeholder {
  color: #000000 !important;
}

form span input:not(.submit):focus::placeholder,
form span input:not(.submit):hover::placeholder {
  color: #000000 !important;
}

form span input:not(.submit):invalid {
  -webkit-box-shadow: none;
          box-shadow: none;
}

form span input:not(.submit):hover {
  color: #000000;
}

form span input:not(.submit):hover::-webkit-input-placeholder {
  color: #000000;
}

form span input:not(.submit):hover::-moz-placeholder {
  color: #000000;
}

form span input:not(.submit):hover:-ms-input-placeholder {
  color: #000000;
}

form span input:not(.submit):hover::-ms-input-placeholder {
  color: #000000;
}

form span input:not(.submit):hover::placeholder {
  color: #000000;
}

.submit {
  width: 100%;
  max-width: 287px;
  min-height: 44px;
  background-color: #dd2c14;
  color: #ffffff;
  font-size: 24px;
  font-family: 'Exo20-Bold';
  text-transform: uppercase;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.submit:hover {
  background: #bc2511;
  color: #ffffff;
}

.submit:focus,
.submit:active {
  color: #ffffff !important;
}

textarea {
  color: #000000;
}

textarea::-webkit-input-placeholder {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

textarea::-moz-placeholder {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

textarea:-ms-input-placeholder {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

textarea::-ms-input-placeholder {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

textarea::placeholder {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

.title {
  font-size: 3.6rem;
  line-height: 1.2;
  text-align: center;
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  width: 320px;
  padding: 0 10px;
}

.menu-link {
  display: none;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 10;
  -webkit-transform: translatey(-50%);
      -ms-transform: translatey(-50%);
          transform: translatey(-50%);
  width: 35px;
  height: 35px;
  background: transparent;
  border-radius: 4px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.menu-link_active .menu-lines {
  background: transparent;
}

.menu-link_active .menu-lines:after {
  top: 0;
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.menu-link_active .menu-lines:before {
  top: 0;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}

.menu-lines,
.menu-lines:before,
.menu-lines:after {
  position: absolute;
  width: 30px;
  height: 2.5px;
  background-color: #dd2c14;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.menu-lines {
  top: 50%;
  right: 0;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.menu-lines:before {
  content: '';
  top: -9px;
}

.menu-lines:after {
  content: '';
  top: 9px;
}

.header {
  min-height: 882px;
  padding-top: 56px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.header__top {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: background .3s;
  -o-transition: background .3s;
  transition: background .3s;
}

.header__top_fixed {
  background: rgba(0, 0, 0, 0.7);
  color: #ffffff;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 56px;
  height: 50px;
}

.header__menu a {
  font-family: 'Exo20-SemiBold';
}

.header__menu a:hover {
  color: #bc2511;
}

.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 24px;
  margin-bottom: 56px;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__logo span {
  max-width: 200px;
  margin-left: 15px;
  padding-bottom: 7px;
  font-size: 17px;
  font-family: 'Exo20-Bold';
  line-height: 24px;
  text-transform: uppercase;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__tel {
  font-size: 20px;
  font-family: 'Exo20-Bold';
}

.header__tel:hover {
  color: #dd2c14;
}

.header__tel svg {
  display: none;
}

.header__button {
  font-size: 14px;
  text-decoration: underline;
  color: #dd2c14;
  font-family: 'Exo20-SemiBold';
  cursor: pointer;
}

.header__button:hover {
  text-decoration: none;
  color: #bc2511;
}

.header__main {
  position: relative;
}

.header__main .container {
  padding-bottom: 46px;
}

.header__img {
  position: absolute;
  right: 261px;
  bottom: 0px;
  z-index: 0;
  width: 690px;
  height: 595px;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__title {
  position: relative;
  max-width: 620px;
  min-height: 192px;
  margin-bottom: 52px;
  padding: 30px 41px 30px 42px;
  background-color: #dd2c14;
  font-size: 36px;
  line-height: 1.2;
  font-family: 'Exo20-Bold';
  text-transform: uppercase;
  color: #ffffff;
}

.header__title:after {
  content: "";
  position: absolute;
  bottom: -53px;
  right: 73px;
  width: 75px;
  height: 55px;
  background: -webkit-gradient(linear, left bottom, right top, color-stop(50%, transparent), color-stop(0, #dd2c14));
  background: -o-linear-gradient(bottom left, transparent 50%, #dd2c14 0);
  background: linear-gradient(to top right, transparent 50%, #dd2c14 0);
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header__list {
  width: 100%;
  padding-top: 72px;
}

.header__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 697px;
  min-height: 73px;
  margin-bottom: 25px;
  padding: 9px 12px 13px 12px;
  background-color: rgba(0, 23, 38, 0.9);
  color: #ffffff;
}

.header__list-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 39px;
  margin-right: 10px;
}

.header__list-right {
  max-width: 160px;
}

.header__list-title {
  line-height: 1.1;
  font-size: 24px;
  text-transform: uppercase;
  color: #fefefe;
}

.header__list-text {
  line-height: 1.1;
  font-size: 14px;
}

.header__form {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 363px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 363px;
          flex: 0 0 363px;
  min-height: 390px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 38px 20px 38px;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
}

.header__form-title {
  margin-bottom: 20px;
  font-size: 24px;
  text-transform: uppercase;
  font-family: 'Exo20-Bold';
}

.header__form-subtitle {
  width: 100%;
  margin-bottom: 21px;
  font-size: 14px;
  line-height: 1.2;
}

.header__form .input-wrapper span {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 17px;
}

.header__form .input-wrapper span:last-child {
  margin-bottom: 23px;
}

.header__form .input-wrapper span input {
  padding-right: 60px;
  border: 1px solid #c9c9c6;
  background-color: #eef2f5;
}

.header__form .input-wrapper span input:focus {
  border: 1px solid #c9c9c6;
}

.header__form .input-wrapper span label {
  position: absolute;
  right: 0;
  top: 0;
  width: 46px;
  height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 1px solid #cccccc;
  cursor: pointer;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.header__form .input-wrapper span label svg {
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.header__form .input-wrapper span label:hover svg {
  fill: #dd2c14;
}

.header__form .submit {
  margin-bottom: 25px;
  padding: 5px 10px;
  white-space: normal;
}

.header__form .policy {
  display: none;
}

.header__form .policy-label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
  font-size: 13px;
  color: #999999;
  cursor: pointer;
  font-family: 'ProximaNova';
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.header__form .policy-label:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 15px;
          flex: 0 0 15px;
  height: 15px;
  -webkit-transform: translatey(-50%);
      -ms-transform: translatey(-50%);
          transform: translatey(-50%);
  border: 1px solid #cacac6;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.header__form .policy:checked + label:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 4px;
  display: block;
  width: 7px;
  height: 7px;
  background-color: #dd2c14;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
}

.popup.flex {
  opacity: 1;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.popup__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 500px;
  text-align: center;
  background: #fff;
}

.popup__close {
  position: absolute;
  right: 10px;
  top: 0px;
  z-index: 11;
  font-size: 40px;
  cursor: pointer;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  font-family: 'ProximaNova';
}

.popup__close:hover {
  color: #dd2c14;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
    padding: 0;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

@media (max-width: 1199px) {
  .header__title {
    max-width: 560px;
    min-height: auto;
    padding: 25px 35px;
    font-size: 33px;
  }

  .header__img {
    right: 245px;
    width: 470px;
    height: 462px;
  }

  .header__main .container {
    padding-bottom: 68px;
  }

  .header__list-right {
    max-width: 170px;
  }
}

@media (max-width: 991px) {
  .mobile-bg {
    background-image: none !important;
    background: #262728;
  }

  .menu-link {
    display: block;
  }

  .header {
    padding-top: 0;
    min-height: auto;
  }

  .header__top {
    position: fixed;
    top: 0;
    right: -100vw;
    left: auto;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    color: #ffffff;
  }

  .header__top_active {
    right: 0;
  }

  .header__top .container {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__top .header__button {
    min-width: 200px;
    min-height: 45px;
    padding: 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 5px;
    background: #dd2c14;
    color: #ffffff;
    text-decoration: none;
  }

  .header__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: auto;
    height: auto;
    margin-bottom: 20px;
  }

  .header__menu li {
    margin-bottom: 25px;
  }

  .header__menu li:last-child {
    margin-bottom: 0;
  }

  .header__menu a {
    font-size: 17px;
  }

  .header__bottom {
    padding: 10px 0;
  }

  .header__logo {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__logo img {
    width: 55px;
  }

  .header__logo span {
    padding-bottom: 0;
    margin-left: 10px;
    font-size: 15px;
    line-height: 1.2;
  }

  .header__right {
    position: relative;
  }

  .header__call {
    margin-right: 40px;
  }

  .header__title {
    font-size: 30px;
  }

  .header__title:after {
    display: none;
  }

  .header__img {
    display: none;
  }

  .header__row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__list {
    padding-top: 0;
  }

  .header__list-item {
    max-width: 390px;
  }

  .header__form {
    max-width: 320px;
    min-height: auto;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 320px;
            flex: 0 0 320px;
    padding: 15px 25px;
  }

  .header__form-title {
    font-size: 22px;
  }

  .header__form-subtitle {
    font-size: 13px;
  }

  .header__form .submit {
    margin-bottom: 20px;
    font-size: 22px;
  }

  .header__form .policy-label {
    font-size: 12px;
  }

  .header__form .policy:checked + label:after {
    top: 4px;
  }
}

@media (max-width: 767px) {
  input {
    padding: 0 10px;
    text-align: center;
  }

  .form .input-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .form span {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 8px;
  }

  .form span input {
    padding: 0 10px;
    text-align: center;
  }

  .form .submit {
    max-width: 100%;
  }

  .form small {
    font-size: 10px;
    text-align: center;
  }

  .form textarea {
    text-align: center;
  }

  .title {
    font-size: 2.9rem;
  }

  .header__bottom {
    margin-bottom: 30px;
  }

  .header__title {
    margin-bottom: 30px;
    font-size: 28px;
  }

  .header__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__list-item {
    margin-bottom: 10px;
    max-width: 100%;
    min-height: auto;
  }

  .header__list-icon {
    width: 39px;
    height: 39px;
  }

  .header__list-title {
    font-size: 18px;
  }

  .header__list-text {
    font-size: 13px;
  }

  .header__form .submit {
    margin-bottom: 12px;
  }
}

@media (max-width: 575px) {
  .d-mobile {
    display: block;
  }

  .d-mobile-none {
    display: none;
  }

  .header__logo img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50px;
            flex: 0 0 50px;
    width: 50px;
  }

  .header__logo span {
    margin-left: 5px;
    text-transform: none;
    font-size: 12px;
    line-height: 1.1;
  }

  .header__tel svg {
    display: block;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
    width: 25px;
    height: 25px;
    fill: #dd2c14;
  }

  .header__tel span {
    display: none;
  }

  .header__title {
    padding: 15px;
    font-size: 26px;
    text-transform: none;
  }

  .header__list-item {
    padding: 10px 8px;
  }

  .header__list-icon svg {
    max-width: 30px;
    max-height: 30px;
  }

  .header__list-title {
    margin-bottom: 3px;
    text-transform: none;
  }

  .header__form-title {
    margin-bottom: 15px;
    font-size: 20px;
  }

  .header__form-subtitle {
    margin-bottom: 15px;
    font-size: 12px;
  }

  .header__form .input-wrapper span,
  .header__form .input-wrapper span:last-child {
    margin-bottom: 10px;
  }

  .header__form .submit {
    margin-bottom: 15px;
    font-size: 18px;
  }

  .header__form .policy-label {
    font-size: 11px;
  }

  .popup__content {
    max-width: 300px;
  }

  .popup__close {
    color: #000000;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  textarea {
    overflow: auto;
  }

  li {
    list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
  }
}
@supports (-webkit-appearance:none){

}

 @media (min-width: 576px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 992px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 1200px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1199px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 991px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 575px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){

@supports (-webkit-appearance:none){

}

}
